  
#home_link {
   color: white;
   position: absolute;
   padding:10px;
   left:0;
   width: 140px;
   height: 25px;
   bottom: 20px;
   color: white;
   text-align: left;
   text-decoration: none;}


#home_link a:visited { color: white }
#home_link a:hover { color: white; text-decoration: underline; }


/* Menu Text */
#exit_menu { 
   color: white;
   margin-top: 120px;
   margin-left: 10px;
   font-family: "Bitstream Vera Sans", Verdana, Helvetica, Arial, sans-serif;
}

/* Gives padding to sub menu items (because they have links <a>) */
#exit_menu a {background-color: transparent; padding: 7px; } 

/* Aligns menu better */ 
#exit_menu ul {top: 200px;  padding: 0; margin: 0; font-size: 1.05em; } 

/* Sub-menu background area - making it hidden */
#exit_menu > ul ul { display: none ; }



/* Main Menu selector emphasis */ 
#exit_menu > ul li:hover {
   width:250px; 
   text-align: left; 
   z-index: 10000; 
   cursor: pointer;
   background: url("../skins/default/side_menu/main_menu_active.png") no-repeat;
}

/* Pop-out menu colour */
#exit_menu > ul ul li {
   width:200px; 
   cursor: pointer;
   line-height: 1.05em;
}



/* Menu text spacing */
#exit_menu ul li {
   width:100%;
   list-style-type: none;  
   position: relative; 
   line-height: 2.0em;
}

#top_menu {   
   background: url("../skins/default/side_menu/sub_menu_top.png") no-repeat;}
#top_menu:hover { 
   background: url("../skins/default/side_menu/sub_menu_top_active.png")}
#mid_menu {   
   background: url("../skins/default/side_menu/sub_menu_mid.png") no-repeat;}
#mid_menu:hover { 
   background: url("../skins/default/side_menu/sub_menu_mid_active.png")}
#btm_menu {   
   background: url("../skins/default/side_menu/sub_menu_btm.png") no-repeat; 
   background-position: left bottom}
#btm_menu:hover { 
   background: url("../skins/default/side_menu/sub_menu_btm_active.png");
   background-position: left bottom }

#m_text { padding-left: 5px;}

